!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Fanshow"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="/assets/ico/fanshow-icon-144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="/assets/ico/fanshow-icon-114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="/assets/ico/fanshow-icon-72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="/assets/ico/fanshow-icon-72-precomposed.png" rel="apple-touch-icon-precomposed")
    %link(href="/assets/ico/favicon.ico" rel="shortcut icon")
    = javascript_include_tag "application"


  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          //%a.brand(href="/")
          .container.nav-collapse
            %ul.nav
              %li= link_to "Resultados", root_path
              %li= link_to "Votar", temas_path

    .container-fluid

      .row-fluid
        .span3
          .well.sidebar-nav
            = link_to image_tag('logo-rio.png'), 'http://www.rio.com.pe'
            = link_to image_tag('logo-fanshow.png'), '/'
            %ul.nav.nav-list
              %li.nav-header
                %h3.text-center.sidebar-title
                  INFORMACIÓN
              %li
                .well.large-tex.large-text
                  = 'Faltan solo ' + (25 - Time.now.day).to_s + ' días'
                    - if params[:controller] == 'inicio'


        = yield



      %footer
        %p.rioproducciones &copy; RIO Producciones 2013
        %p.kosmyka= link_to image_tag('/assets/logo-kosmyka-footer.png'), 'http://www.kosmyka.com', :target => '_blank'
    = render 'shared/google_analytics'
